<h2>Welcome aboard!</h2>

<p>You're now subscribed to <%= @profile&.full_name || "Wintan" %>'s blog. You'll be notified when new articles are published.</p>

<p>Expect posts about technology, software engineering, and building great products.</p>

<p>
  Thanks for subscribing,<br>
  <%= @profile&.full_name || "Wintan" %>
</p>

<p style="margin-top: 32px; font-size: 12px; color: #888;">
  Don't want to receive these emails?
  <a href="<%= @unsubscribe_url %>" style="color: #6366f1;">Unsubscribe</a>
</p>
